<div>
  <header>
    <img class="logo" src="../../../../assets/images/logo/blood-donor.png" width="90" height="80" alt="">
    <nav>
      <ul class="nav-links">
        <li><a href="">Acceuil</a></li>
        <li><a href="">Donner du sang</a></li>
        <li><a href="">Catalogue</a></li>
        <li><a href="">A propos</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="nav-links">
        <button mat-raised-button class="btn-one">S'incrire</button>
        <button mat-raised-button class="btn-two">Se connecter</button>
      </ul>
    </nav>
    </header>
</div>
